.container {
  @mixin boxShadow s;
  background-color: $palette-primary;
  border: 0;
  border-radius: $space-l;
  color: $palette-dark;
  cursor: pointer;
  font-family: 'Cutive Mono';
  font-size: 1.5rem;
  line-height: 1;
  outline: none;
  padding: $space-m $space-l;
  text-decoration: none;
  transition: .5s;

  &:hover {
    background-color: $palette-primary-variant;
  }
}