/* @see https://codemyui.com/fullscreen-overlay-navigation-menu/ */

@keyframes pop-in {
  0% {
    border-radius: 100%;
    opacity: 0;
    transform: scale(.04) translateY(300%);
  }

  40% {
    transform: scale(.04) translateY(0);
    transition: ease-out;
  }

  60% {
    opacity: 1;
    transform: scale(.02) translateY(0);
  }

  80% {
    transform: scale(.04);
  }

  99.9% {
    border-radius: 100%;
    padding-bottom: 100%;
    transform: scale(1, 1);
  }

  100% {
    border-radius: 0;
    height: 100%;
    padding-bottom: 0;
    transform: scale(2);
  }
}

@keyframes pop-out {
  0% {
    border-radius: 0;
    height: 100%;
    padding-bottom: 0;
    transform: scale(2);
  }

  0.01% {
    border-radius: 100%;
    padding-bottom: 100%;
    transform: scale(1, 1);
  }

  39% {
    transform: scale(.04);
  }

  40% {
    opacity: 1;
    transform: scale(.02) translateY(0);
  }

  60% {
    transform: scale(.04) translateY(0);
    transition: ease-out;
  }

  100% {
    border-radius: 100%;
    opacity: 0;
    transform: scale(.04) translateY(300%);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  @mixin fixedFullscreen;

  align-items: center;
  display: none;
  justify-content: center;
  z-index: $foreground;

  &.active {
    display: flex;
    transition: .8s;
  }
}

.content {
  @mixin fixedFullscreen;

  align-items: center;
  display: flex;
  justify-content: center;

  &::before {
    @mixin boxShadow xs;

    background: $palette-primary;
    border-radius: 100%;
    bottom: 0; 
    content: '';
    height: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    padding-bottom: 100%;
    position: absolute;
    right: 0; 
    top: 0; 
    transform: scale(.04), translateY(9999px);
    width: 100%;
  }

  &.enter {
    &::before {
      animation: pop-in .8s 0s ease-out forwards;
      transform: translateY(-300%);
    }

    .close {
      opacity: 0;
      transform: rotate(180deg);
      transition-delay: .8s;
    }

    .inner {
      opacity: 0;
    }
  }

  &.enterDone {
    background: $palette-primary;
    height: 100%;
    width: 100%;

    &::before {
      display: none;
    }

    .close {
      transition-delay: 0;
    }

    .inner {
      opacity: 1;
    }
  }

  &.exit {
    background: none;

    &::before {
      animation: pop-out .8s 0s ease-out forwards;
      background: $palette-primary;
    }

    .inner,
    .close {
      opacity: 0;
      transition: .25s;
    }
  }
}

.close {
  left: $space-m;
  opacity: .5;
  position: absolute;
  top: $space-m;
  transition: .5s;
  transform-origin: center;

  &&:hover {
    opacity: 1;
  }
}

.inner {
  font-family: 'Cutive Mono';
  font-size: 2rem;
  transition: .5s;
  transition-delay: .25s;
}
