.container {
  align-items: center;
  border-radius: 100%;
  color: $palette-dark;
  display: flex;
  justify-content: space-between;
  padding: $space-s;
  text-decoration: none;
  transition: 1s;
}

.icon {
  @mixin boxShadow s;
  align-items: center;
  border-radius: 50%;
  color: $palette-light;
  display: flex;
  font-size: $space-l;
  height: $space-xl;
  justify-content: center;
  width: $space-xl;
} 