/* @see https://codemyui.com/contact-card-profile-card-animation/ */

.container {
  min-height: 450px;
  overflow: hidden;
  padding: 0 $space-m;
  width: 100%;

  @media screen and (min-width: $viewport-xsmall) {
    min-height: auto;
  }
}

.content {
  position: relative;
}

.hiddenFooter {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-start;
  position: relative;
  z-index: $background;

  &.enter {
    transform: translateX(-$space-xxl);
    transition: .5s;
  }

  &.enterDone {
    transition: .5s;
    z-index: $foreground;
  }

  @media screen and (min-width: $viewport-xsmall) {
    left: 0;
    position: absolute;

    &.enterDone {
      bottom: -88px;
      transition: .5s;
      z-index: $foreground;
    }
  }
} 
