.container {
  min-height: 450px;
  overflow: hidden;
  width: 100%;

  @media screen and (min-width: $viewport-xsmall) {
    min-height: auto;
  }
}

.content {
  position: relative;
}

.hiddenFooter {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-start;
  position: relative;
  z-index: $background;

  @media screen and (min-width: $viewport-xsmall) {
    left: 0;
    position: absolute;
  }
} 
