.container {
  @mixin boxShadow s;

  background: $palette-light;
  border-radius: resolve($space-m + $space-s);
  margin-bottom: resolve($space-xl + $space-s);
  padding: $space-m;
  position: relative;
  transition: 1s;
  width: 100%;
  z-index: $foreground;

  &.active {
    border-radius: resolve($space-m + $space-s) resolve($space-m + $space-s) 0 0;
    box-shadow: none;
  }

  @media screen and (min-width: $viewport-xsmall) {
    margin-bottom: resolve($space-xl + $space-l);
    padding: $space-l;
    width: 700px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  font-family: 'Cutive Mono';
  justify-content: space-around;
  margin-bottom: $space-m;

  @media screen and (min-width: $viewport-xsmall) {
    flex-direction: row;
  }
}

.lead {
  font-size: 1.2rem;
  margin-bottom: $space-xs;
  text-align: center;

  @media screen and (min-width: $viewport-xsmall) {
    font-size: 1.5rem;
    margin-bottom: $space-s;
    text-align: left;
  }
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width: $viewport-xsmall) {
    width: 50%;
  }
}

.paragraph {
  font-size: .8rem;
  line-height: 1rem;
  margin-bottom: $space-s;
  text-align: justify;

  @media screen and (min-width: $viewport-xsmall) {
    line-height: inherit;
    text-align: left;
  }
}

.avatar {
  align-items: center;
  display: flex;
  justify-content: center;
}

.image {
  @mixin boxShadow xs;

  border-radius: 100%;
  height: 200px;
  margin-bottom: $space-m;

  @media screen and (min-width: $viewport-xsmall) {
    height: 225px;
    margin: 0;
  }
}

.footer {
  bottom: -resolve($space-xl / 2);
  display: flex;
  height: $space-xl;
  justify-content: center;
  left: 0;
  position: absolute;
  transition: 1s;
  width: 100%;

  &.active {
    transition: 1s;
    z-index: $foreground;

    .primaryButton {
      @mixin boxShadow s;

      font-size: 3rem;
      height: $space-xl;
      padding: 5px;
      transform: translateX(100px);
      width: $space-xl;
    }
  }

  @media screen and (min-width: $viewport-xsmall) {
    left: auto;
    margin: 0;
    width: 640px;

    &.active {
      .primaryButton {
        transform: translateX(200px);
      }
    }
  }
}
