/* @see https://codemyui.com/contact-card-profile-card-animation/ */

.container {
  overflow: hidden;
  padding: 0 $space-m;
  width: 100%;
}

.content {
  position: relative;
}

.hiddenFooter {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  z-index: $background;

  &.enter {
    transform: translateX(-$space-xxl);
    transition: .5s;
  }

  &.enterDone {
    bottom: -88px;
    transition: .5s;
    z-index: $foreground;
  }
} 
