.html {
  font-family: 'Cutive';
  overflow-y: scroll;

  &.inactive {
    overflow: hidden;
  }

  @media only screen and (max-width: 480px) {
    font-size: 100%;
  }
}

.body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 1.0875rem 1.45rem;
  padding-top: 0;
}
