/* @see https://codemyui.com/gradient-card-ui-image-info-slider/ */

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $space-l 0;
  position: relative;

  @media screen and (min-width: $viewport-xsmall) {
    flex-direction: row;
    margin: $space-xl 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  
}

.excerpt {
  font-family: 'Cutive Mono';
  margin-bottom: $space-s;
}

.date {
  font-family: 'Cutive Mono';
  font-weight: lighter;
  margin-bottom: $space-s;
}

.link {
  color: #ee5253;
  font-family: 'Cutive';
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}
